<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uhac.umpay">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.CompanyActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity" />
        <activity android:name="com.uhac.umpay.activities.ProductActivity"
            android:launchMode="singleInstance"/>

        <activity android:name="com.uhac.umpay.activities.ReservationActivity"
            android:launchMode="singleInstance"/>

        <activity android:name="com.uhac.umpay.activities.MyReservationActivity"
            android:launchMode="singleInstance"/>

        <activity android:name="com.uhac.umpay.activities.MyTransactionActivity"
            android:launchMode="singleInstance"/>

        <activity android:name="com.uhac.umpay.activities.AccountActivity"
            android:launchMode="singleInstance"/>

        <activity android:name="com.uhac.umpay.activities.BarcodeActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />
    </application>

</manifest>